.sellerLandingPage {
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1800px;
}

.product {
  float: left;
}

.suggested_content {
  width: 100%;
  clear: both;
  overflow-x: scroll;
}