

.carousel {
    height: 300px;
    width: 1700px;
    overflow: hidden;
    position: relative;
    display: block;
    margin: 0px;
    padding: 30px;
    border-radius: 10px;
  }

  .carouselCard {
    display: block;
    align-items: center;
  }

  .carouselCard > img {
    width: 1700px;
    height: 300px;
    opacity: 0.5;
    border-radius: 40px;
    padding: 0px;
  }

  .carouselText {
    position: relative;
    top: 80px;
    left: 60px;
    font-size: 32px;
    font-weight: bold;
    padding: 10px;
  }

  .carouselTrack {
    width: 200%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
    height: 300px;
    gap: 10px;
    animation: slide 20s linear infinite;
  }

  @keyframes slide {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }