
.product {
    display: block;
    align-items: left;
    margin: 20px;
    padding: 30px;
    width: 400px;
    height: 250px;
  }

  .product > img {
    object-fit: fill;
    width: 400px;
    height: 250px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: -15px;
  }

  .product_info {
    padding: 0px;
  }