.sellerLandingPage {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
  }
  .header{
    position: relative;
  }
  .bottomleft {
    position: absolute;
    bottom: 32px;
    left: 40px;
    font-size: 32px;
  }
  .spunchbob { 

    width: 50%;
    opacity: 0.5;
    z-index: -1;
    max-height: 200px;
    border-radius: 30px;
    padding: 15px;
  }

    






  